.container
{
	margin: 0 auto 0 auto;
}
.background
{
	background-image:  url("images/account.jpg");
	height: 500px;
}
.icons img{
	width: 15px;
	height: 15px;
}
.icon img{
	width: 15px;
	height: 15px;
}
.sub-background
{
	height: 70px;
	background-color: white;
	width: 80%;
	padding-left: 50px;
	margin-left: 120px;
	padding-top: 15px;
	margin-top: 20px;

}

.logo { 
	float: left;
}
.navbar {
	float: left;
}

.title-img {
	float: left;
}

.title-name {
	float: left;

}



.logo img {
	width: 60px;
}

.nav li
{
	float: left;
	padding-left: 100px;
	padding-top: 20px;
}
.icon2
{
	float: left;
}
.icon1
{
	float: left;
}
.icon3
{
	float: left;
}
